extends ../layout

block content
  .page-header
    h3 Profile Information

  form.form-horizontal(action='/admin/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', value='#{user.email}')
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
    .form-group
      label.col-sm-3.control-label(for='location') Location
      .col-sm-7
        input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
    .form-group
      label.col-sm-3.control-label(for='website') Website
      .col-sm-7
        input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
    .form-group
      label.col-sm-3.control-label(for='gravatar') Gravatar
      .col-sm-4
        img(src="#{user.gravatar()}", class='profile', width='100', height='100')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Update Profile

    
  .page-header
    h3#delete-account Delete Account

  form.form-horizontal(action='/account/delete', method='POST')
    .form-group
      p.col-sm-offset-3.col-sm-4 You can delete your account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .col-sm-offset-3.col-sm-4
        button.btn.btn-danger(type='submit')
          i.fa.fa-trash
          | Delete my account
          
                    
  if users
    .page-header
      h3#admin-users Admin Users
    
    form.form-horizontal(action='/admin/users', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      table.table
        thead 
          tr
            th avatar
            th username
            th name
            th location
            th admin
        tbody
          each thisuser in users
            tr
              td
                img(src="#{thisuser.gravatar()}", width="50")
              td=thisuser.username
              td=thisuser.profile.name
              td=thisuser.profile.location
              td
                input(type="checkbox", checked=thisuser.admin, id="user-#{thisuser.username}", name="admins", value="#{thisuser.username}", disabled=(thisuser.username===user.username))
        
      .form-group
        .col-sm-offset-3.col-sm-4
        
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencil
            | Update Admin List
